<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <app-input-box class="d-inline" [objInput]=textInput></app-input-box>
            </li>
            <li class="nav-item">
              <app-input-box class="d-inline" [objInput]=passInput></app-input-box>
            </li>
            <li class="nav-item">
              <app-button [btnInput]="loginBtn"></app-button>
            </li>
            </ul>
    </div>
  </nav>