<div class="container-fluid" style="background-color:#4c66a4; margin:4px; border: 8px">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-2 text-white"><h2>{{title}}</h2></div>
    <div class="col-2"></div>
    <div class="col-5">
      <div class="row">
        <div class="col-4">
          <app-input-box class="d-inline"></app-input-box>
        </div>
        <div class="col-4">
          <app-input-box class="d-inline"></app-input-box>
        </div>
        <div class="col-2"><button class="btn btn-info" style="margin:4px 0px">Login</button></div>
        <div class="col-2"></div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>